
<!--<p>
  contact working
</p>-->

 <div class="contact_Container">
      <label for="contact"> <h3 style="font-weight: 400">Contact</h3> </label>

       <mat-grid-list cols="3" rowHeight="50px" class="content_container">
                <mat-grid-tile>
                      <p class="subTitles" style="top:0"> Pri quas audiam virtute ut, case utamur fuisset eam ut, iisque accommodare an eam. Reque blandit qui eu, cu vix nonumy volumus. Legendos intellegam id usu, vide oporteat vix eu, id illud principes has. Nam tempor utamur gubergren </p> 
                  </mat-grid-tile>
                  <mat-grid-tile >
                      <i class="material-icons">call</i>
                      <h4>GIVE US A CALL</h4>
                      <P class="subTitles"><span>0123456789</span></P> 
                  </mat-grid-tile>
                  <mat-grid-tile >
                      <i class="material-icons">location_on</i>
                      <h4>OUR LOCATION</h4> 
                      <P class="subTitles"><span>New York City Hall, NY 10007, USA</span></P>          
                  </mat-grid-tile>
        </mat-grid-list>
 </div>
      <!--<mat-grid-list cols="3" rowHeight="1:1" class="content_container">
        <mat-grid-tile>
              <p>Pri quas audiam virtute ut, case utamur fuisset eam ut, iisque accommodare an eam. Reque blandit qui eu, cu vix nonumy volumus. Legendos intellegam id usu, vide oporteat vix eu, id illud principes has. Nam tempor utamur gubergren n</p>
        </mat-grid-tile>
        <mat-grid-tile class="setStyle">
              <i class="material-icons">call</i>
              <h4>GIVE US A CALL</h4><br/>
              <p><span>0123456789</span></p>
        </mat-grid-tile>
        <mat-grid-tile class="setStyle">
              <i class="material-icons">location_on</i>
              <h4>OUR LOCATION</h4><br/>
              <P><span>New York City Hall, NY 10007, USA</span></P>
        </mat-grid-tile>
      </mat-grid-list>-->
<div class="wayToContact">
      <mat-grid-list cols="2" rowHeight="1:1" class="contactsOpts">
        <mat-grid-tile class="contactForm_container">
             
                <form class="contact-form">
                      <mat-form-field class="example-full-width formInput">
                        <label for="name">Your Name (required)</label>
                        <div><input class="inputCss" matInput /></div>
                      </mat-form-field>

                      <mat-form-field class="example-full-width formInput">
                        <label for="email">Your Email (required)</label>
                        <div><input class="inputCss" matInput /></div>
                      </mat-form-field>

                      <mat-form-field class="example-full-width formInput">
                        <label for="subject">Subject</label>
                        <div><input class="inputCss" matInput /></div>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                          <label for="message">Your Message</label><br/>
                          <textarea matInput ></textarea>
                      </mat-form-field>

                       <button mat-raised-button color="warn">Send</button>
                </form>
              
        </mat-grid-tile>

        <mat-grid-tile class="map_container">
              <div style="width: 100%">
                <!--<h2>MAP AREA</h2>-->
                <section class="row maps">
                  <iframe width="1000" height="450" frameborder="0" style="border:0"
                          src="https://www.google.com/maps/embed/v1/search?q=Google%2C%20Amphitheatre%20Parkway%2C%20Mountain%20View%2C%20Californie%2C%20%C3%89tats-Unis&key=AIzaSyDlrMfHGDYfzbaGu7O6qkQ1_JT1vmOjpAk"
                          allowfullscreen></iframe>
                </section>
              </div>
        </mat-grid-tile>
      </mat-grid-list>
 </div>