md-grid-tile {
  background: salmon;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

.map_container{
  border: 2px solid darkred;
}

.contactForm_container{
  border: 2px solid yellow;
}



.setStyle{
  position: absolute;
}

.contact-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.maps{
  background-color: #607D8B;
}

.content_container{
    /*border: 2px solid orangered;*/
    /*border: 2px solid greenyellow;*/
    background: #F66249;
    color: #FFF;
    padding: 9px 0 14px;
}

.subTitles{
    position: absolute;
    font-size: 12px;
    margin: 0;
    top: 33px;
}