
  <div class="footer_container">
        <div class="container-footer">
              <div class="colLayout">
                    <h3> Meta </h3>
                    <ul class="metaList">
                        <li><span class="arrowHead"> > </span><a href="/"> Register </a></li>
                        <li><span class="arrowHead"> > </span><a href="/"> Log in </a></li>
                        <li><span class="arrowHead"> > </span><a href="/"> Entries RSS </a></li>
                        <li><span class="arrowHead"> > </span><a href="/"> Comments Rss </a></li>
                        <li><span class="arrowHead"> > </span><a href="/">  WordPress.Org </a></li>

                    </ul>
              </div>
              <div class="colLayout">
                    <h3> Recent Posts </h3>
                    <div class="recentPostsCol">
                          <div class="imageCol">
                                <a href="/">
                                  <img width="65" height="65" src="\assets\images\banner.jpg">
                                </a>
                          </div>
                          <div class="detailCol">
                                <p class="inlineElem">
                                      <a href="/">Jackets For The Soul. What Color Is Yours?</a>
                                </p>
                          </div>
                    </div>
                    <div class="recentPostsCol">
                          <div class="imageCol">
                                <a href="/">
                                  <img width="65" height="65" src="\assets\images\banner.jpg">
                                </a>
                          </div>
                          <div class="detailCol">
                                <p class="inlineElem">
                                      <a href="/">Jackets For The Soul. What Color Is Yours?</a>
                                </p>
                          </div>
                    </div>
                    <div class="recentPostsCol">
                          <div class="imageCol">
                                <a href="/">
                                  <img width="65" height="65" src="\assets\images\banner.jpg">
                                </a>
                          </div>
                          <div class="detailCol">
                                <p class="inlineElem">
                                      <a href="/">Jackets For The Soul. What Color Is Yours?</a>
                                </p>
                          </div>
                    </div>
                    <div class="recentPostsCol">
                          <div class="imageCol">
                                <a href="/">
                                  <img width="65" height="65" src="\assets\images\banner.jpg">
                                </a>
                          </div>
                          <div class="detailCol">
                                <p class="inlineElem">
                                      <a href="/">Jackets For The Soul. What Color Is Yours?</a>
                                </p>
                          </div>
                    </div>
              </div>
              <div class="colLayout">
                    <h3> About </h3>
                    <p>First, the power of which, I may hear that, we use the case as it had been by, and to adapt, whether it confirm.</p>
                    <p>The event, which sit football, when we barely running smoothly. Were to be chosen, and understand concerning the use of this, see, scarcely a football ought to be, that it is the leaders of these. For example sadi at no.<p>

              </div>
              <div class="colLayout">
                    <h3> Tags </h3>
                    <a href="/" class="tagsBoxes">Autumn</a>
                    <a href="/" class="tagsBoxes">Dress</a>
                    <a href="/" class="tagsBoxes">Fashion</a>
                    <a href="/" class="tagsBoxes">Jackets</a>
                    <a href="/" class="tagsBoxes">Stockings</a>
                    <a href="/" class="tagsBoxes">Trends</a>

                          
              </div>

        </div>
        <div class="menu-social">
              <i class="material-icons">group</i>
              <i class="material-icons">notifications_active</i>
              <i class="material-icons">plus_one</i>
              <i class="material-icons">share</i>
        </div>
        <div class="copyright-text">
		Copyright © 2017 <span >|</span> <a href="">All rights reserved <b>NK</b> Enterprises</a> <span >|</span> Powered by WordPress.	
	 </div>
 </div>