<mat-card>
  <mat-card-footer class="footer_container">
        <div class="menu-social">
              <i class="material-icons">group</i>
              <i class="material-icons">notifications_active</i>
              <i class="material-icons">plus_one</i>
              <i class="material-icons">share</i>
        </div>
        <div class="copyright-text">
							Copyright © 2017 <span >|</span> <a href="">Theme: Tyche</a> <span >|</span> Powered by WordPress.	
					</div>
 </mat-card-footer>
</mat-card>