/*mat-toolbar{
    background-color:mediumaquamarine;
    background: radial-gradient(circle, black, white);
    border: 0.5px solid #b7b5b5;
}



.logo-img{
  width: 90px;
  margin-right: 30px;
}

.menuButtons{
    
}

.menuButtons > mat-button-toggle{
    text-align: center;
    width: 25%;
}*/

.mat-button-toggle[_ngcontent-c1] {
     color: white !important; 
}
.example-selected-value{
    width: 88%;
    margin: auto;
}
.mat-button-toggle[_ngcontent-c1]:hover {
     color: #F66249 !important; 
}
.nav-container > mat-button-toggle:hover{
    color:#F66249 !important;
}
.mat-button-toggle[_ngcontent-c1] {
    background-color: transparent !important;
}
.menuButtons{
    font-size: 17px;
    font-weight: 700;
    padding: 0px 48px 14px 67px;
    box-shadow: none !important;
}
.headerBox{
    background: #2b2e34;
}

topHeaderContainer mat-toolbar{
    background: #2b2e34 !important;
    height: 27px;
}

.topHeaderContainer{
    width: 100%;
    background: #2b2e34 !important;
    color: #FFF;
    vertical-align: middle;
    height: 54px;
    /*border: 3px solid red;*/
}
#sampleSearchInput{
    background: #25262b;
    border: none;
    color: #FFF;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 15px;
    height: 30px;
    border-radius: 5px;
}

/*.searchContainer i{
        top: 2px;
}*/

span input i{
    color: #FFF;
}
.icon-container,.material-icons{
    vertical-align: middle;
}
.icon-container{
border-right: 1px solid grey;
    padding: 6px;
}
.accountContainer,.cartContainer{
    display: inline-block;
}
.cartContainer{
    
}
.acc-icon{
    padding: 4px
}
.material-icons{
    font-size: 19px !important;
}
.searchContainer{
    width: 177px;
    display: inline-block;
    margin-right: 54px;
}
.topHeaderContainer .mat-toolbar{
    background: #2b2e34 !important;
    color: #FFF;
}
.siteHeader {
  /*padding-top: 30px;*/
  border-bottom-color: grey;
  /*border: 3px solid red;*/
}

.siteHeader .mat-toolbar{
      background: #25262B;
}

.emailContainer{
    /*padding: 10px;*/
    width: 24%;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

.setRight{
    text-align: right;
    width: 70%;
    display: inline-block;
    /*margin-left: auto;
    padding: 5%;*/
}

.siteHeader .banner-wide{
    margin: 25%;
    border: 2px solid white;
    /*padding: 28%;*/
}
/*.logoContainer{

}*/
.banner-wide{display: none}
.siteHeader .custom-logo-link {
  display: block;
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  width: 25%;
  text-align: center;
  /*padding: 10px;*/
}
.siteHeader .custom-logo-link img {
  width: 165px;
  height: 70px;
}

.menuHeader mat-toolbar{
    /*border: 3px solid red;*/
    background: #25262B;
    
}

mat-button-toggle-group{
   background: #25262B; 
}

mat-button-toggle:click{
    color: #F66249;
}
/*mat-button{

}*/
.cartBtn {
    /*padding-left: 40px;
    padding-right: 40px;*/
    background: #F66249;
    line-height: 4em;
    padding-top: -2px;
    position: relative;
    top: -7px;
    width: 190px;
}

.cartBtn a{
    text-decoration-line: none;
    color: white
}

.mat-button-toggle-checked {
    background-color: #e0e0e0;
    color: #F66249;
}

.mat-button-toggle {
    color: white !important;
}

/*Link CSS*/
a {
  color: #F66249;
}
a:visited {
  color: #f88c7a;
}
a:hover, a:focus, a:active {
  color: #f43818;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
@media only screen and (max-width: 650px){
        .emailContainer{
            width: 50%
        }
        .setRight{
            text-align: right;
            width: 50%;
            display: inline-block;
        }
        .searchContainer{
            width: 50%; 
            display: inline-block;
            margin-right: 54px;
        }
        .topHeaderContainer .mat-toolbar-row{
            display: block !important;
        }
}