
.mat-button-toggle[_ngcontent-c1] {
     color: white !important; 
}

.mat-button-toggle[_ngcontent-c1]:hover {
     color: #F66249 !important; 
}
.nav-container > mat-button-toggle:hover{
    color:#F66249 !important;
}
.nav-container{
    width: 88%;
    margin: auto;
}
.mat-button-toggle[_ngcontent-c1] {
    background-color: transparent !important;
}
.menuHeader{
    background-color: #25262B;
}
.menuButtons{
    font-size: 16px;
    font-weight: 700;
    box-shadow: none !important;
    list-style: none;
    width:80%;
    margin: auto;
    border-top: 1px solid #35373e;
    padding: 0;
}
.menuButtons li{
    display: inline-block;
    padding: 20px;
}
.menuButtons li > a{
    text-decoration: none;
    color: white;
}
.menuButtons li a:hover{
    color:  #F66249 !important;
}
.headerBox{
    background: #2b2e34;
}

topHeaderContainer mat-toolbar{
    background: #2b2e34 !important;
    height: 27px;
}

.topHeaderContainer{
    width: 100%;
    background: #2b2e34 !important;
    color: #FFF;
    vertical-align: middle;
    height: 54px;
    /*border: 3px solid red;*/
}
#sampleSearchInput{
    background: #25262b;
    border: none;
    color: #FFF;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 15px;
    height: 30px;
    border-radius: 5px;
}

span input i{
    color: #FFF;
}
.icon-container,.material-icons{
    vertical-align: middle;
}
.icon-container{
border-right: 1px solid grey;
    padding: 6px;
}
.accountContainer,.cartContainer{
    display: inline-block;
}
.cartContainer{
    
}
.acc-icon{
    padding: 4px
}
.material-icons{
    font-size: 19px !important;
}
.searchContainer{
    width: 177px;
    display: inline-block;
    margin-right: 54px;
}
.topHeaderContainer .mat-toolbar{
    background: #2b2e34 !important;
    color: #FFF;
}
.siteHeader {
  /*padding-top: 30px;*/
  border-bottom-color: grey;
  /*border: 3px solid red;*/
}

.siteHeader .mat-toolbar{
      background: #25262B;
}

.emailContainer{
    /*padding: 10px;*/
    width: 24%;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

.setRight{
    text-align: right;
    width: 70%;
    display: inline-block;
}

.siteHeader .banner-wide{
    margin: 25%;
    border: 2px solid white;
    /*padding: 28%;*/
}

.banner-wide{display: none}
.siteHeader .custom-logo-link {
  display: block;
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  width: 25%;
  text-align: center;
  /*padding: 10px;*/
}
.siteHeader .custom-logo-link img {
  width: 165px;
  height: 70px;
}

.menuHeader mat-toolbar{
    /*border: 3px solid red;*/
    background: #25262B;
    
}

mat-button-toggle-group{
   background: #25262B; 
}

mat-button-toggle:click{
    color: #F66249;
}
/*mat-button{

}*/
.cartBtn {
    background: #F66249;
    line-height: 4em;
    padding-top: -2px;
    position: relative;
    top: -7px;
    width: 190px;
}

.cartBtn a{
    text-decoration-line: none;
    color: white
}

.mat-button-toggle-checked {
    background-color: #e0e0e0;
    color: #F66249;
}

.mat-button-toggle {
    color: white !important;
}

/*Link CSS*/
a {
  color: #F66249;
}
a:visited {
  color: #f88c7a;
}
a:hover, a:focus, a:active {
  color: #f43818;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
@media only screen and (max-width: 750px) and (min-width: 651px){
    .accBtn{
        padding: 0 !important;
        margin: 0 !important;
        font-size: 12px !important;
    }
    .cartBtn{
    width: 41px !important;
    font-size: 9px !important;
    padding: 0px !important;
    top: 6em !important;
    position: absolute;
    left: 26em;
    }
    .searchContainer{
        display: none !important;
    }
}
@media only screen and (max-width: 650px){
    .cartBtn{
    width: 41px !important;
    font-size: 9px !important;
    padding: 0px !important;
    top: 6em !important;
    position: absolute;
    left: 26em;
    }
    .searchContainer{
        display: none !important;
    }

        .emailContainer{
            width: 50%
        }
        .setRight{
            text-align: right;
            width: 50%;
            display: inline-block;
        }
        .searchContainer{
            width: 50%; 
            display: inline-block;
            margin-right: 54px;
        }
        .topHeaderContainer .mat-toolbar-row{
            display: block !important;
        }
        .topHeaderContainer .mat-toolbar-row{
            display: block !important;
        }
        .topHeaderContainer {
            width: 100%;
            background: #2b2e34 !important;
            color: #FFF;
            vertical-align: middle;
            display: inline-block;
}

.mat-toolbar-row{
    display: inline !important;
}
}