

<div class="headerBox">
  <div class="topHeaderContainer"> 
      <mat-toolbar class="headerToolbar">
       
        <div class="emailContainer">
          <!--<mat-icon>email</mat-icon>-->
          <i class="material-icons">mail_outline</i>
          <span>tyche@gmail.com</span>
          <span class="fill-remaining-space"></span>
        </div>
        <div class="setRight">
          <div class="searchContainer">
            <input  matInput type="search"  placeholder="Search" id="sampleSearchInput" >
            <span class="icon-container"><i class="material-icons">search</i></span>
          </div>
          <div class="accountContainer">
            <button mat-button class="accBtn"  routerLink="/myAccount">
              <!--<mat-icon>account_circle</mat-icon>-->
              <i class="fa fa-user acc-icon" aria-hidden="true"></i>
              <span>Account</span>
            </button>
          </div>
          <div class="cartContainer">
            <button class="cartBtn" mat-button routerLink="/cart">
              <mat-icon>shopping_cart</mat-icon>
              <a href="" >My Cart     - $ 0 </a>
            </button>
          </div>
        </div>
    
    </mat-toolbar>
  </div>

  <div class="siteHeader">
    <div class="logoContainer">
       <mat-toolbar >
        <a href="" class="custom-logo-link"> <img class="logo-img" src="assets/images/logo.png" alt="studen'TSE"> </a>
        <span class="fill-remaining-space" ></span>
        <div class="banner-wide"> <a href=""> <img  src="assets/images/banner.jpg" alt="Ad image">  </a>  </div>
    </mat-toolbar>
      </div>
  </div>

  <div class="menuHeader">
    <div class="nav-container">
      <mat-toolbar >		     
          <mat-button-toggle-group #group="matButtonToggleGroup" class="menuButtons">		          
              <mat-button-toggle value="home" style="width: 20%;" routerLink="/home">		            
                Home		                
              </mat-button-toggle>		              
              <mat-button-toggle value="shop" style="width: 20%;" routerLink="/shop">		              
                Shop		                
              </mat-button-toggle>		              
              <mat-button-toggle value="contact" routerLink="/contact">		              
                Contact Us		                
              </mat-button-toggle>		             
              <!--<mat-button-toggle value="addproduct" routerLink="/addProduct">		              
                Add Product		                
              </mat-button-toggle>	 -->
            </mat-button-toggle-group>        		                  
      </mat-toolbar>          
    </div>
  </div>
  
    <!--<mat-card>
        <div class="example-selected-value"> Home /  {{group.value}}</div>
    </mat-card>-->
</div>
   
  

