mat-slider{
    width: 95%;
    
}
.sliderChangeVal{
    width: 90%
}
.productsLeftBar{
    margin-top: 35px
}
.productsLeftBarSection2{
    margin-top: 45px
}
.prodList{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    width: 90%
}
.prodList li{
    line-height: 20px;
}
.prodList a{
   text-decoration: none;
    color:#2a313e;
    font-size: 15px;
}
.prodList a:hover{
    color: #F66249;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;

}