<h2> Cart </h2>

      

  <div>
      <mat-card>
            <table style="width:80%">
            <thead>
                <tr>
                <th>Remove</th>
                <th>Item Image</th> 
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody *ngFor="let item of itemsFromStorage"  >
                <tr>
                <td><button mat-button (click)="removeItem(item)"> <i class="material-icons">delete</i> </button> </td>
                <td> <img src="{{item.product.pImgURL}}" alt="Item image" style="width: 70px;height: 70px;"/>  </td> 
                <td> {{item.product.pName}} </td>
                <td> {{item.product.pPrice}} </td>
                <td> 1 </td> 
                <td> {{item.product.pPrice}} </td>
            </tr>
            </tbody>        
          </table>

          <div class="bottom-container">
                <mat-card-content >
                    <h2>Cart totals</h2>
                    <p><b>Sub Amount : </b>  <span>{{totalAmount}}</span></p>
                    <p><b>Total Amount : </b>  <span>{{totalAmount}}</span></p>
                    <button mat-raised-button  color="warn" block  routerLink="/checkout" > Proceed to Checkout  </button> 
              </mat-card-content>    
          </div> 


      </mat-card>
  </div>

