@media only screen and (max-width: 860px) and (min-width: 751px){

    .example-card{
        width: 45% !important;
    }
    .shopMainDiv{
        width: 100%;
    }
    .lefNav_container{
    width: 25%;
    display: inline-block;
    float: left;
}
.shopProduct_container{
    width: 70%;
    display: inline-block;
}
}
@media only screen and (max-width: 750px) {
    
   
    .example-card{
        width: 45% !important;
    }
    .lefNav_container{
    width: 100% !important;
    display: inline-block;
    float: left;
    }

.shopMainDiv{
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
}
.lefNav_container{
    width: 25%;
    display: inline-block;
    float: left;
}
/*.lefNav_container{
    width: 23%;
    display: inline-block;
    float: left;
}*/
.actBtnsCss{
    width: 100%;
    left: 0.1em;
}

.shopProduct_container{
        width: 75%;
    display: inline-block;
}
.shopMainDiv{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    /*padding-left: 15px;
    padding-right: 15px;*/
}
.example-card{
       width: 15%;
    display: inline-block;
    margin: 17px 11px 0 0 !important;
    vertical-align: top;
    height: 270px;
    padding: 73px;
}
.mat-card-image:first-child{
    margin-top: 0!important;
}
.mat-card-title{
    position: absolute;
    bottom: 50px;
}
.mat-card-image {
    width: calc(100% + 48px);
    margin: 0 0 0 0 !important;
}
.mat-card-actions{
     margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 0 !important;
    text-align: center !important;
    position: absolute;
    bottom: 0;
}
.holder{
    text-align: center;
}
.product_container{
    width:100%;
    display: inline-block !important;
}