
<div class="home_container">
	<div class="main-slider" >
			   <md-card flex-sm="25" flex-gt-sm="30" flex="100"> <img class="tileImage" src="assets/images/hero.jpg" style="width: 100%;"></md-card>
                <md-card flex-sm="25" flex-gt-sm="30" flex="100">  <div class="hero-caption">
                      <span class="year">2017</span>
                      <span class="caption">Autumn Collection</span>
                      <div class="btn-group">
                              <button mat-raised-button color="warn" class="shopNowbtn">Shop Now</button>
                              <button mat-raised-button color="warn" class="learnbtn">Learn More</button>                     
                      </div>
                  </div>
                </md-card>
	</div>
  <!--<mat-grid-list cols="1" rowHeight="1:1">
        <mat-grid-tile colspan=1 rowspan=1>
              <div class="main-slider" >
                    <img src="assets/images/hero.jpg">
                  <div class="hero-caption">
                      <span class="year">2017</span>
                      <span class="caption">Autumn Collection</span>
                      <div class="btn-group">
                              <button mat-raised-button color="warn">Shop Now</button>
                              <button mat-raised-button color="warn" class="learnbtn">Learn More</button>                     
                      </div>
                  </div>
      </div>
        </mat-grid-tile>
      </mat-grid-list>-->

        <mat-grid-list cols="3" rowHeight="50px" class="mainSliderInfo">
                <mat-grid-tile class="setContent">
                      <i class="material-icons">public</i>
                      <h4>FREE SHIPPING</h4>
                      <p class="subTitles"><span class="subCaption">On all orders over 90$</span></p> 
                  </mat-grid-tile>
                  <mat-grid-tile class="setContent">
                      <i class="material-icons">call</i>
                      <h4>CALL US ANYTIME</h4>
                      <P class="subTitles"><span>+04786445953</span></P> 
                  </mat-grid-tile>
                  <mat-grid-tile class="setContent">
                      <i class="material-icons">location_on</i>
                      <h4>OUR LOCATION</h4> 
                      <P class="subTitles"><span>557-6308 Lacinia Road. NYC</span></P>          
                  </mat-grid-tile>
        </mat-grid-list>

	<div class="product_container" flex-sm="25" flex-gt-sm="30" flex="100">		
    <mat-card class="example-card" *ngFor="let prod of displayProductsArr">				
		<div class="holder">        		
		<mat-card-content>		
        <p><img mat-card-image src="{{prod.product.pImgURL}}" style="width: 243px; height: 286px" alt="Photo of a Shiba Inu"></p>		
        <mat-card-title>{{prod.product.pName}}</mat-card-title>		
        <p style="font-weight: 900;font-size: 18px;">  $ {{prod.product.pPrice}} </p>		
        </mat-card-content>		
        <!--<mat-card-actions>		
      <button mat-raised-button  color="warn">Add To Cart</button>		
        </mat-card-actions>	-->
        <mat-card-actions> 
            <button mat-raised-button  color="warn"  *ngIf="!viewbtn[prod.key]"  (click)="addProductinCart(prod)" > <mat-icon>shopping_cart</mat-icon> Add To Cart</button> 
                <!--after in cart-->
                <button style="font-size: 12px;" mat-raised-button  color="warn"  *ngIf="viewbtn[prod.key]"  (click)="addProductinCart(prod)" > <mat-icon>shopping_cart</mat-icon> Add To Cart <i class="material-icons">done</i> </button>
                <button style="font-size: 12px;" mat-raised-button  color="warn" *ngIf="viewbtn[prod.key]"  routerLink="/cart" >View Cart</button>
        </mat-card-actions>
	    </div>	
    </mat-card>		
    </div>
    <div class="advertise_container" flex-sm="25" flex-gt-sm="30" flex="100">		
    <mat-card class="advertise_container-card">				
		<div class="holder">        		
		<mat-card-content>		
        <div class="sale_caption">
            <span class="lineOne"><h3 style="color: white;font-size: 16px;margin: 0;position: absolute;top: -12px;left: 86px;"> SAVE UP TO </h3></span>
            <span class="lineTwo"><h1 style="color: white;font-size: 65px;margin: 0;position: absolute;top: 0;left: 1.28em;">50%</h1></span>
			<span class="lineThree"><p style="color: white;font-size: 16px;margin: 0;position: absolute;left: 51px;top: 5em;"> ON OUR GALLA DRESSES</p> </span>
			<button mat-raised-button  color="warn" style="position: absolute;top: 8em;left: 6em;">View Cart</button>
        </div>		
        </mat-card-content>		
	    </div>	
    </mat-card>		
    </div>
    <div class="advertise_container2" flex-sm="25" flex-gt-sm="30" flex="100">		
    <mat-card class="advertise_container-card2">				
		<div class="holder">        		
		<mat-card-content>		
        	
        </mat-card-content>		
	    </div>	
    </mat-card>		
    </div>
    <div class="advertise_container3" flex-sm="25" flex-gt-sm="30" flex="100">		
    <mat-card class="advertise_container-card3">				
		<div class="holder">        		
		<mat-card-content>		
        	
        </mat-card-content>		
	    </div>	
    </mat-card>		
    </div>
    
