
.home_container{
    display: block;
}
.subTitles{
    position: absolute;
    font-size: 12px;
    margin: 0;
    top: 33px;
}
body{
    font-family: "Karla", sans-serif;
    line-height: 1.5;
}


.product_container{		
    display: inline-flex;		
}
.main-slider{

}
.tileImage{
   
}
.main-slider md-card{
    margin: 0 !important;
}
.shopNowbtn{
    border: 2px solid;
    border-color: #F66249 !important;
    border-radius: 3px !important;
    background: #F66249 !important;
    color: #FFF !important;
    font-size: 15px !important;
    padding: 0px 5px !important;
    line-height: 2.6 !important;
    width: 35% !important;
    margin-right: 10px;
}
.advertise_container{
    position: absolute;
    top: 44.6em;
    right: 0;
    width: 23%;
    display: inline-block;
    margin: 25px;
}
.advertise_container2{
    position: absolute;
    top: 72.88em;
    right: 0px;
    width: 23%;
    display: inline-block;
    margin: 25px;
}
.advertise_container3{
    position: absolute;
    top: 100em;
    right: 0;
    width: 23%;
    display: inline-block;
    margin: 25px;
}
.advertise_container-card2{
    background-image: url('../../../assets/images/diamonds.jpg');
    position: absolute;
    top: 21px;
    width: 90%;
    width: 71%;
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.advertise_container-card3{
    background-image: url('../../../assets/images/Off.jpg');
    position: absolute;
    top: 21px;
    width: 90%;
    width: 71%;
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.advertise_container-card{

    background-image: url('../../../assets/images/ad1.jpg');
    position: absolute;
    top: 21px;
    width: 90%;
    width: 71%;
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.sale_caption{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
@media only screen and (max-width: 860px) and (min-width: 751px){
.advertise_container,advertise_container2,advertise_container3{
        display: none !important;
    }
    .example-card{
        width: 45% !important;
    }
}
@media only screen and (max-width: 750px) {
    
    .advertise_container,advertise_container2,advertise_container3{
        display: none !important;
    }
    .example-card{
        width: 45% !important;
    }

    .main-slider .hero-caption .year {
    font-size: 31px !important;
    font-weight: 700 !important;
    font-family: cursive !important;
    line-height: 1.5 !important;
}
.caption{
        font-size: 13px !important;
    font-weight: 700 !important;
    display: inline-block !important;
    width: 100px !important;
    margin-left: 10px !important;
    font-family: sans-serif;
    line-height: 15px !important;

}
.hero-caption {
    display: none !important;
}
.shopNowbtn[_ngcontent-c2] {
    border: 2px solid;
    border-color: #F66249 !important;
    border-radius: 3px !important;
    background: #F66249 !important;
    color: #FFF !important;
    font-size: 13px !important;
    padding: 0px 0px !important;
    line-height: 1.9 !important;
    width: 57%;
    /* margin-right: 10px; */
    margin-left: 7px;
}
.learnbtn{
    background: transparent;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 13px ;
    padding: 0px 0px ;
    line-height: 1.9 ;
    width: 35%;
    margin-left: 7px;
}

}
.mat-card-image:first-child{
    margin-top: 0!important;
}
.mat-card-image {
    width: calc(100% + 48px);
    margin: 0 0 0 0 !important;
}
.mat-card-actions{
     margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 0 !important;
    text-align: center !important;
}
.holder{
    text-align: center;
}
.product_container{
    width: 90%;
    display: inline-block !important;
    margin: 25px;
}
.example-card{
    width: 25%;
    display: inline-block;
    padding: 0;
    margin: 20px 26px 0 0 !important;
    vertical-align: top;
    height: 430px;
}

.learnbtn{
    background: transparent;
    border: 2px solid white;
    border-radius: 3px ;
    font-size: 15px;
    padding: 0px 5px ;
    line-height: 2.6 ;
    width: 35% ;
}
.hero-caption {
    left: 6em;
    color: white;
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 9.8em;
}

.main-slider .hero-caption .year {
    font-size: 78px;
    font-weight: 700;
    font-family: cursive;
    line-height: 1.5;
}

.caption {
    font-size: 28px;
    font-weight: 700;
    display: inline-block;
    width: 100px;
    line-height: 30px;
    margin-left: 10px;
    font-family: "Karla", sans-serif;
}

.main-slider .hero-caption .btn-group button:hover {
    background: #f43818;
    border-color: #f43818;
}

.main-slider .hero-caption .btn-group button:last-of-type:hover {
    color: #FFF;
    background: #F66249;
    border-color: #F66249;
}


.mat-raised-button.mat-warn {
    width: 44%;
}

.sabCaption{
    font-size: 14px;
    display: block;
    position: relative;
}

.mainSliderInfo{
    /*border: 2px solid orangered;*/
    background: #F66249;
    color: #FFF;
    padding: 9px 0 14px;
}