 /*.mainImg_Container{
    position:relative;
    overflow:hidden;
    -webkit-transform:translate3d(0,0,0)
 }*/

.home_container{
    display: block;
}
.subTitles{
    position: absolute;
    font-size: 12px;
    margin: 0;
    top: 33px;
}
body{
    font-family: "Karla", sans-serif;
    line-height: 1.5;
}


.product_container{		
    display: inline-flex;		
}
.main-slider{
    border: 2px solid purple;
    /*height: 458px;*/
}

.tileImage{
    /*height: 458px;*/
}

.main-slider md-card{
    margin: 0 !important;
}
.shopNowbtn{
    border: 2px solid;
    border-color: #F66249 !important;
    border-radius: 3px !important;
    background: #F66249 !important;
    color: #FFF !important;
    font-size: 15px !important;
    padding: 0px 5px !important;
    line-height: 2.6 !important;
    width: 35% !important;
    margin-right: 10px;
}
@media only screen and (max-width: 750px) {
    .main-slider .hero-caption .year {
    font-size: 31px !important;
    font-weight: 700 !important;
    font-family: cursive !important;
    line-height: 1.5 !important;
}
.caption{
        font-size: 13px !important;
    font-weight: 700 !important;
    display: inline-block !important;
    width: 100px !important;
    margin-left: 10px !important;
    font-family: sans-serif;
    line-height: 15px !important;

}
.hero-caption {
     /*left: 0 !important; 
    color: white;
    font-size: 30px;
    display: inline-block !important;
    position: absolute !important;
    top: 7.8em !important;*/
    display: none !important;
}
.shopNowbtn[_ngcontent-c2] {
    border: 2px solid;
    border-color: #F66249 !important;
    border-radius: 3px !important;
    background: #F66249 !important;
    color: #FFF !important;
    font-size: 13px !important;
    padding: 0px 0px !important;
    line-height: 1.9 !important;
    width: 57%;
    /* margin-right: 10px; */
    margin-left: 7px;
}
.learnbtn{
    background: transparent;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 13px ;
    padding: 0px 0px ;
    line-height: 1.9 ;
    width: 35%;
    margin-left: 7px;
}

}
.mat-card-image:first-child{
    margin-top: 0!important;
}
.mat-card-image {
    width: calc(100% + 48px);
    margin: 0 0 0 0 !important;
}
.mat-card-actions{
     margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 0 !important;
    text-align: center !important;
}
.product_container{
    width: 90%;
    display: inline-block !important;
    margin: 25px;
}
.example-card{
    width: 25%;
    display: inline-block;
    padding: 0;
    margin: 20px 26px 0 0 !important;
    vertical-align: top;
    height: 560px;
}

.learnbtn{
    background: transparent;
    border: 2px solid white;
    border-radius: 3px ;
    font-size: 15px;
    padding: 0px 5px ;
    line-height: 2.6 ;
    width: 35% ;
}
.hero-caption {
    left: 6em;
    color: white;
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 9.8em;
}

.main-slider .hero-caption .year {
    font-size: 78px;
    font-weight: 700;
    font-family: cursive;
    line-height: 1.5;
}

.caption {
    font-size: 28px;
    font-weight: 700;
    display: inline-block;
    width: 100px;
    line-height: 30px;
    margin-left: 10px;
    font-family: "Karla", sans-serif;
}

.main-slider .hero-caption .btn-group button:hover {
    background: #f43818;
    border-color: #f43818;
}

.main-slider .hero-caption .btn-group button:last-of-type:hover {
    color: #FFF;
    background: #F66249;
    border-color: #F66249;
}


.mat-raised-button.mat-warn {
    width: 44%;
}

/*.setContent{
    float: left;
    margin-left: 15px;
    border: 3px solid darkcyan;
}*/

.sabCaption{
    font-size: 14px;
    display: block;
    position: relative;
}

.mainSliderInfo{
    border: 2px solid orangered;
    background: #F66249;
    color: #FFF;
    padding: 9px 0 14px;
}